[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/Microsoft/vcpkg
[submodule "laikago_sdk"]
	path = laikago_sdk
	url = https://github.com/Ryangupta8/laikago_sdk
[submodule "ahg_common"]
	path = ahg_common
	url = https://github.com/utexas-bwi/ahg_common.git
[submodule "openpose_ros_wrapper"]
	path = openpose_ros_wrapper
	url = https://github.com/ssteveminq/openpose_ros_wrapper
