<launch>
  <arg name="slam" default="false"/>
  <arg name="gui" default="true"/>

  <include file="$(find laikago_gazebo)/launch/simple.launch">
     <arg name="ahg_sim" value="true"/>
  </include>

  <group if="$(arg slam)">
    <include file="$(find laikago_navigation)/launch/gmapping.launch"/>
  </group>
  <include file="$(find laikago_navigation)/launch/move_base.launch">
    <arg name="slam" value="$(arg slam)"/>
  </include>

  <group if="$(arg gui)">
     <node pkg="rviz" type="rviz" name="rviz" args="-d $(find laikago_gazebo)/config/laikago.rviz" output="screen"/>
  </group>


</launch>
